{% extends "_banner_base.html" %}

{% block extra_style %}
    <!--Theme-->
    <link href="http://cdn.wijmo.com/themes/rocket/jquery-wijmo.css" rel="stylesheet" type="text/css" title="rocket-jqueryui" />
  
    <!--Wijmo Widgets CSS-->
    <link href="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.3.2.min.css" rel="stylesheet" type="text/css" /> 
{% endblock %}

{% block title %}Daily View{% endblock %}
{% block body %}
    <div id="eventscalendar"></div>
    <h3>Daily View</h3>
    <h4>
        <a href="{% url swingtime-daily-view prev_day.year prev_day.month prev_day.day %}">&larr;</a>
        {{ day|date:"l, N jS Y" }}
        <a href="{% url swingtime-daily-view next_day.year next_day.month next_day.day %}">&rarr;</a>
    </h4>
    <table class="calendar">
        <thead>
            <tr>
                <th>Time</th>
                <th>Main Room</th>
                <th>Private 2</th>
                <th>Private 3</th>
                <th colspan="4">Private 4</th>
            </tr>
        </thead>
        <tbody>
            {% for tm,cells in timeslots %}
            <tr>
                <th><a href="{% url swingtime-add-event %}?dtstart={{ tm.isoformat }}">{{ tm|date:"P" }}</a></th>
                {% for cell in cells %}
                <td{% if cell.event_class %} class="{{cell.event_class}}"{% endif %}>{{ cell }}</td>    
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock %}
{% block extra_script %}
<!--jQuery References-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js" type="text/javascript"></script>
<!--Wijmo Widgets JavaScript-->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.2.3.2.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-complete.all.2.3.2.min.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
       $("#eventscalendar").wijevcal({
    timeInterval: 15,
    timeIntervalHeight: 30,
    timeRulerFormat: "{0:h:mm tt}",
    timeRulerInterval: 30
    });
    });
</script>
{% endblock %}