           <div class="booklet" id="mybook">
                <div title="Welcome to Doli" class="b-page-cover">                   
                        <img src="site_media/static/img/yellow_doli_logo.jpg" alt="">                    
                   <div>
                        <h4 style="color: black"><i>Turn the page to start your journey...</i></h4>
                    </div>
                </div>   
                <div> 
                    <h3 style=" alignment-adjust: central"><i>It's all about memories...</i></h3>
                    &nbsp;                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;                    <h3 style=" alignment-adjust: central">What is Doli Diaries?</h3>
                </div>                <div title ="What is DD"> 
                    <h3 style="color: black">Doli Diaries is a free personal diary to record, organise and build your wedding memoirs.</h3>
                    <h3 style="color: black">Doli Diaries makes it fun to maintain a wedding calendar and s
tay on budget and at the same time take the stress away in a delicious way! </h3>

                </div>
                <div> 
                    <h3 style="color: black"><i>It's all about love...</i></h3>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <h3 style=" alignment-adjust: central">What Doli Diaries is NOT?</h3>
                </div>
                <div title ="what doli diaries is not"> 
                    <h3 style="color: black">It's NOT a shopping website throwing millions of offers your w
ay.</h3>
                    <h3 style="color: black">Doli Diairies' mission is unitary - to make your wedding plann
ing journey memorable.</h3>

                </div>
                
                <div> 
                    <h3 style="color: black"><i>Its all about you...</i></h3>
                    &nbsp;
                    &nbsp;                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <h3 style=" alignment-adjust: central">Who is Doli Diaries for?</h3>                  
                </div>
                <div>
                   <h3 style="color: black">If you are engaged or about to be engaged, this is YOUR persona
l diary.</h3>
                </div>
                
                <div>                     <h3 style="color: black"><i>Its all about new beginnings...</i></h3>
                    &nbsp;
                    &nbsp;
                    &nbsp;                    &nbsp;
                    &nbsp;
                    <h3 style=" alignment-adjust: central">How long will Doli Diaries stay with me?</h3>   
               
                </div>
                <div>
                   <h3 style="color: black">All the way... from your engagement till your honeymoon, we wil
l be there till the threshold of your new life.</h3>
                </div>
                <div> 
                    <h3 style="color: black"><i>Its all about an intimate experience...</i></h3>
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <h3 style=" alignment-adjust: central">How PERSONAL is it?</h3>
                </div>
                <div>
                   <h3 style="color: black"> This is YOUR personal diary, you can keep it as private as you wish or share as much as you want on your social networks, the choice will be yours.</h3>
                </div>
                <div>
                    <h3 style=" color: black">So start your personal journey with us by signing up today... </h3>
                </div>
            </div>
            <hr>

