{% extends "_banner_base.html" %}

{% load i18n %}
{% block extra_style %}
        <link href="/site_media/static/css/jquery.booklet.latest.css" type="text/css" rel="stylesheet" media="screen, projection, tv" />
{% endblock %}

{% block head_title %}Welcome to Doli Diaries - your <b>FREE</b> personal wedding diary</h3>

{% endblock %}

{% block body_class %}

{% endblock %}

{% block banner %}
    {% block booklet %}
        {% include "_dolibook.html" %}
    {% endblock %}

    {% if user.is_authenticated %}
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        {% url account_login as login_url %}
        {% url account_signup as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}
{% endblock %}

{% block extra_script %}

    <script src="/site_media/static/js/booklet/jquery-1.7.2.min.js"></script>
    <script src="/site_media/static/js/booklet/jquery-ui-1.8.21.custom.min.js" ></script>
    <script src="/site_media/static/js/booklet/jquery.easing.1.3.js"></script>
    <script src="/site_media/static/js/booklet/jquery.booklet.latest.min.js"></script>
    <script type="text/javascript">
    $(function() {
        $('#mybook').booklet(
            { 
                width : 800,
                height : 350,
                pageNumbers: false,
                tabs: true,
                closed: true,
                closedFrontTitle: "Welcome to Doli Diaries",
                closedBackTitle: "Start your journey today",
                autoCenter: true
            });
    });
    </script>
{% endblock %}


